.App {
  text-align: center;
}

.App-logo {
  /* animation: App-logo-spin infinite 20s linear; */
  height: 80px;
}

.App-header {
  height: 65vh;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
  padding-top: 15px;
}

.Video {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  max-width: 100%;
}

.Features {
  padding: 50px 10% 30px 10%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Feature {
  padding: 10px;
  flex: 1;
  margin-left: 2%;
  margin-right: 2%;
}

.Feature > img {
  width: 20%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (max-width: 414px) {
  .Features {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }


}